/* General Styling */

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Profile Card */
.profile-card{
    background: red;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0,1); 
    text-align: center;
    width: 300px;
}

.profile-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #007bff;
    margin-bottom: 10px;
}

h2 {
    margin: 10px 0;
    color: #333;
}

p {
    color: #777777;
    margin: 5px 0;
    font-family: serif;
}

/* Profile Card */
.profile-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #00ff80;
    margin-bottom: 10px;
}

/* Social Icons */
.social-icons {
    margin-top: 15px;
    border-radius: 100%;
    border: 1px solid #00ff6a ;
}

.social-icons a img {
    width: 30px;
    margin: 0 5px;
    transition: transform 0.3s;
}

.social-icons a img:hover {
    transform: scale(1.2);
}

/* Button Styling */
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: #0026ff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-family: 'Times New Roman';
}

.btn:hover {
    background-color: #00b39b;
}

/* About Page Styling */
.about-container {
    background: lightblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
}

.about-container h1 {
    color: #333;
}

.about-container p {
    color: #555;
    text-align: justify;
}


